@use "../../scss/" as *;

.about {
   .container {
      // intro
      .intro {
         padding: 100px 0;
         @include flex(space-between, center);
         gap: 30px;

         @include tablet {
            padding: 55px 0 80px;
            flex-direction: column-reverse;
            gap: 48px;
         }
         @include mobileL {
            padding: 48px 0 64px;
            gap: 24px;
         }

         .pic {
            border-radius: 24px;
            width: 100%;
            max-width: 46%;
            overflow: hidden;

            @include tablet {
               max-width: none;
               max-height: 70vh;
            }

            @include mobileL {
               border-radius: 12px;
            }

            img {
               border-radius: inherit;
            }
         }

         .content {
            max-width: 576px;

            @include tablet {
               max-width: none;
               width: 100%;
            }

            .line {
               position: relative;
               top: -17px;
               z-index: -10;

               @include tablet {
                  top: -14px;
               }

               @include mobileL {
                  top: -7px;
                  transform: rotate(3deg);
               }
            }

            p {
               margin-top: 5px;

               @include mobileL {
                  margin-top: 0;
               }
            }
         }
      }

      // my-story
      .my-story {
         padding: 50px 0;
         display: grid;
         grid-column-gap: 55px;
         grid-auto-columns: 1fr;
         grid-row-gap: 16px;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: auto;

         @include tablet {
            grid-column-gap: 30px;
         }

         @include mobileL {
            grid-template-columns: 1fr;
         }

         .content {
            position: sticky;
            top: 24px;
            align-self: flex-start;

            @include tablet {
               position: static;
            }

            .line {
               position: relative;
               top: -7px;
               z-index: -10;
            }

            p {
               margin-top: 8px;
               margin-bottom: 44px;
            }

            h3 {
               margin-bottom: 20px;

               @include tablet {
                  margin-bottom: 10px;
               }
            }

            ul {
               list-style: disc;
               padding: 0 0 10px 40px;

               @include tablet {
                  padding: 0 0 0 20px;
               }

               li {
                  margin-bottom: 16px;
               }
            }
         }

         .images {
            border-radius: 24px;

            @include tablet {
               align-self: flex-start;
               position: sticky;
               top: 24px;
               margin-top: 5px;
            }

            @include mobileL {
               position: static;
               border-radius: 12px;
            }

            img {
               border-radius: inherit;

               &:first-child {
                  margin-bottom: 35px;

                  @include tablet {
                     margin-bottom: 24px;
                  }
               }
            }
         }
      }

      // my-skills
      .my-skills {
         padding: 100px 0;

         @include tablet {
            padding: 80px 0;
         }

         @include mobileL {
            padding: 64px 0;
         }

         .content {
            max-width: 592px;
            margin: 0 auto 60px;
            padding: 0 24px;
            text-align: center;

            @include mobileL {
               margin: 0 auto;
            }

            .line {
               position: relative;
               top: -6px;
               z-index: -10;

               @include tablet {
                  top: -10px;
               }
            }

            p {
               position: relative;
               margin-bottom: 20px;
               top: -2px;

               @include tablet {
                  top: -15px;
               }

               @include mobileL {
                  top: -18px;
               }
            }
         }

         .skills {
            display: grid;
            grid-auto-columns: 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            margin-top: 0;

            @include mobileL {
               grid-template-columns: 1fr;
               margin-top: 32px;
            }

            .skills-card {
               @include flex(center, center);
               flex-direction: column;

               &:nth-child(even) {
                  border-left: 1px solid $neutral-400;
                  border-right: 1px solid $neutral-400;

                  @include mobileL {
                     border-left: none;
                     border-right: none;
                     border-top: 1px solid $neutral-400;
                     border-bottom: 1px solid $neutral-400;
                     padding: 57px 0 43px;
                  }
               }

               &:nth-child(1) {
                  @include mobileL {
                     margin-bottom: 43px;
                  }
               }

               &:nth-child(3) {
                  @include mobileL {
                     margin-top: 57px;
                  }
               }

               img {
                  width: 76px;
                  min-height: 76px;
                  margin-bottom: 32px;
                  border-radius: 20px;
               }

               h3 {
                  margin-bottom: 28px;
               }

               span {
                  margin-bottom: 14px;
               }
            }
         }
      }
   }
}
