@use "../../scss/" as *;

.get {
   display: inline-block;
   padding: 24px 60px;
   background-color: $neutral-800;
   color: $neutral-100;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.777;
   border-radius: 80px;
   text-align: center;
   transition: 0.4s;

   @include mobileL {
      padding: 16px 42px;
   }
   @include mobileP {
      padding: 16px 30px;
      width: 100%;
   }

   &:hover {
      transform: translateY(-5px);
      background-color: $neutral-100;
      color: $neutral-800;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   }
}