@use "../../../../scss/" as *;

.faq-item {
   @include flex(space-between, flex-start);
   padding-top: 5px;
   padding-bottom: 50px;
   opacity: 1;
   cursor: pointer;

   @include tablet {
      padding-bottom: 43px;
   }

   @include mobileL {
      padding-bottom: 38px;

      &:active {
         background-color: #b2b4c450; // $neutral-500
      }
   }

   @include mobileP {
      padding-bottom: 28px;
   }

   &:hover {
      .icon {
         background-color: $neutral-800;

         span {
            background-color: $neutral-100;
         }
      }

      @include mobileL {
         .icon {
            background-color: $neutral-300;

            span {
               background-color: $neutral-600;
            }
         }
      }
   }

   &:not(:first-child) {
      border-top: 1px solid $neutral-400;
      padding-top: 50px;

      @include tablet {
         padding-top: 48px;
      }

      @include mobileP {
         padding-top: 42px;
      }
   }

   .icon {
      @include flex(center, center);
      min-width: 44px;
      min-height: 44px;
      border-radius: 12px;
      background-color: $neutral-300;
      color: $neutral-600;
      font-size: 18px;
      line-height: 1.777em;
      font-weight: 500;
      margin-right: 30px;
      margin-top: -5px;
      position: relative;
      z-index: -1;
      transition: 0.3s;

      @include tablet {
         margin-right: 24px;
      }

      @include mobileL {
         min-width: 40px;
         min-height: 40px;
         margin-right: 16px;
         margin-top: 0;
      }

      span {
         position: absolute;
         width: 18px;
         height: 2px;
         background-color: $neutral-600;

         &:last-child {
            transform: rotate(-90deg);
            animation: animationClose 0.2s linear;
         }
      }

      &.active {
         background-color: $neutral-800;

         span {
            background-color: $neutral-100;

            &:last-child {
               animation: animationOpen 0.2s linear;
               transform: rotate(0);
            }
         }
      }
   }

   .faq-item-content {
      p {
         margin-top: 16px;

         @include mobileL {
            margin-top: 24px;
            margin-left: -50px;
         }

         &.content {
            max-height: 0;
            overflow: hidden;
            transition: all 0.4s cubic-bezier(0, 1, 0, 1);
         }

         &.show {
            height: auto;
            max-height: 9999px;
            transition: all 0.4s cubic-bezier(1, 0, 1, 0);
         }
      }
   }
}

@keyframes animationOpen {
   0% {
      transform: rotate(-90deg);
   }

   80% {
      transform: rotate(15deg);
   }

   100% {
      transform: rotate(0);
   }
}

@keyframes animationClose {
   0% {
      transform: rotate(0);
   }

   80% {
      transform: rotate(-105deg);
   }

   100% {
      transform: rotate(-90deg);
   }
}
