@use "../../scss/" as *;

// Hero Start
.hero {
   position: relative;
   padding: 69px 0 100px;
   @include flex(space-between, center);

   @include tablet {
      padding: 55px 75px;
      flex-direction: column;
   }

   @include mobileL {
      padding: 45px 0 60px;
   }

   @include mobileP {
      padding: 40px 0 55px;
   }


   .hero-content {
      max-width: 610px;
      min-width: 545px;

      .web-developer {
         color: $neutral-700;
      }

      @include tablet {
         max-width: 830px;
         min-width: auto;
         width: 100%;
         margin-bottom: 24px;
         text-align: center;
      }

      h3 {
         margin-bottom: 20px;
         color: $neutral-700;

         @include tablet {
            margin-bottom: 10px;
         }
      }

      .line {
         position: relative;
         top: -16px;
         z-index: -10;
         width: 85%;
         // margin: 0 auto;

         @include tablet {
            margin: 0 auto;
            top: -9px;
            width: 70%;
         }

         @include mobileL {
            top: -6px;
            width: 60%;
         }

         @include mobileP {
            top: -2px;
            width: 70%;
         }
      }

      .get-button {
         margin-top: 30px;

         @include tablet {
            margin-top: 20px;
         }

         @include mobileL {
            margin-top: 15px;
         }

         @include mobileP {
            margin-top: 10px;
         }
      }
   }

   .hero-image {
      border-radius: 50%;
      overflow: hidden;

      img {
         border-radius: inherit;
         transform: scale(1.16);
         position: relative;
         top: 35px;
         -webkit-user-drag: none;
      }

      @include tablet {
         max-width: 505px;
      }
   }
}
// Hero end

// Services start
.services {
   padding: 100px 0;

   @include tablet {
      padding: 50px 0;
   }

   @include mobileL {
      padding: 75px 0 60px;
   }

   @include mobileP {
      padding: 56px 0;
   }

   .content {
      margin: 0 auto;
      max-width: 500px;
      text-align: center;
      margin-bottom: 30px;

      @include tablet {
         margin-bottom: 20px;
      }

      h2 {
         margin-bottom: 16px;

         @include tablet {
            margin-bottom: 10px;
         }
      }

      p {
         text-align: center;
      }
   }

   .items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 48px;
      grid-row-gap: 40px;
      position: relative;
      padding: 40px 0;
      margin-bottom: 35px;
      // background before
      @include before(900px);

      @include tablet {
         grid-gap: 32px;
         @include before(75%);
      }

      @include mobileL {
         grid-template-columns: 1fr;
         @include before(85%, 10px);
         grid-gap: 15px;
         margin-bottom: 25px;
      }

      @include mobileP {
         @include before(90%, 10px);
         grid-gap: 15px;
         margin-bottom: 15px;
         padding: 25px 0;

      }
   }

   .get-button {
      text-align: center;
   }
}
// Services end

// About-me start
.about-me {
   padding: 80px 0 100px;
   @include flex(center, center);

   @include tablet {
      padding: 60px 0 80px;
      flex-direction: column-reverse;
      width: 100%;
   }

   @include mobileL {
      padding: 60px 0 60px;
   }
   
   @include mobileP {
      padding: 50px 0 50px;
   }

   .about-image {
      width: 50%;

      @include tablet {
         width: 100%;
      }

      img {
         max-width: 100%;
         border-radius: 24px;

         @include mobileL {
            border-radius: 12px;
         }

         @include mobileP {
            border-radius: 8px;
         }
      }
   }

   .about-content {
      width: 45%;
      margin-left: 80px;

      @include tablet {
         width: 100%;
         margin-left: 0;
         margin-bottom: 50px;
      }

      @include mobileL {
         margin-bottom: 40px;
      }

      h2 {
         margin-bottom: 24px;

         @include tablet {
            margin-bottom: 20px;
         }

         @include mobileL {
            margin-bottom: 15px;
         }

         @include mobileP {
            margin-bottom: 10px;
         }
      }

      p {
         margin-bottom: 56px;

         @include tablet {
            margin-bottom: 24px;
         }
      }
   }
}
// About-me end

// Take-portfolio start
.take-portfolio {
   padding: 100px 0;

   @include tablet {
      padding: 80px 0 110px;
   }

   @include mobileP {
      padding: 60px 0 80px;
   }

   .header {
      @include flex(space-between, center);
      margin-bottom: 80px;

      @include mobileL {
         @include flex(space-between, flex-start);
         flex-direction: column;
         gap: 40px;
         margin-bottom: 40px;
      }

      @include mobileP {
         gap: 35x;
         margin-bottom: 35px;
      }

      .header-content {
         max-width: 450px;
         position: relative;

         @include mobileL {
            max-width: 350px;
         }

         @include mobileP {
            max-width: 300px;
         }

         img {
            position: absolute;
            bottom: -20px;
            z-index: -9;
         }
      }

      .arrows {
         @include flex (center, center);
         gap: 25px;

         .arrow {
            @include flex(center, center);
            background-color: $neutral-300;
            min-height: 80px;
            min-width: 80px;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.4s;
            border: none;

            @include mobileL {
               min-height: 72px;
               min-width: 72px;
            }
            
            @include mobileP {
               min-height: 66px;
               min-width: 66px;
            }

            &:hover {
               background-color: $neutral-800;
               color: $neutral-100;
               transform: scale(1.01);
            }

            &:active {
               transform: scale(0.92);
               
               @include mobileP {
                  transform: scale(0.96);
               }
            }

            .icon {
               position: relative;
               font-size: 27px;
            }
         }
      }
   }

   // .slick-list {
   //    overflow: visible;
   // }
}
// Take-portfolio end

// 