@use "../../scss/" as *;

.footer {
   border-top: 1px solid $neutral-400;
   padding-top: 120px;

   .footer-wrapper {
      @include flex(space-between, flex-start);
      padding: 0 24px 120px;
      border-bottom: 1px solid $neutral-400;

      .footer-main {
         width: 30%;
         max-width: 330px;
         margin-right: 48px;

         p {
            margin: 20px 0 36px;
         }

         .social-links {
            @include flex(flex, center);
            gap: 22px;

            a {
               display: block;
               transition: 0.4s;

               &:hover {
                  transform: translateY(-5px);
               }
            }
         }
      }

      .footer-nav-wrapper {
         flex: 1;
         @include flex(space-between, flex-start);
         gap: 15px;

         h4 {
            margin-bottom: 32px;
         }

         li {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.2em;
            margin-bottom: 24px;
            transition: 0.2s;
            opacity: 0.7;

            &:hover {
               opacity: 1;
            }
         }

         .contact-me {
            a {
               @include flex(flex-start, center);
               gap: 12px;
            }
         }

      }
   }

   .footer-bottom {
      padding: 32px 0 40px;
      text-align: center;
   }
}