@use "../../scss/" as *;

.footer {
   border-top: 1px solid $neutral-400;
   padding-top: 120px;

   @include tablet {
      padding-top: 80px;
   }

   @include mobileL {
      padding-top: 64px;
   }

   @include mobileP {
      padding-top: 56px;
   }

   .footer-wrapper {
      @include flex(space-between, flex-start);
      padding: 0 24px 120px;
      border-bottom: 1px solid $neutral-400;

      @include tablet {
         flex-direction: column;
         padding: 0 0 60px;
      }

      .footer-main {
         width: 30%;
         max-width: 330px;
         margin-right: 48px;

         @include tablet {
            width: auto;
            max-width: 60%;
            margin-right: 0;
            margin-bottom: 60px;
         }

         @include mobileL {
            width: auto;
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 60px;
         }

         p {
            margin: 20px 0 36px;

            @include tablet {
               margin: 15px 0 20px;
            }
         }

         .social-links {
            @include flex(flex-start, center);
            gap: 22px;

            a {
               display: block;
               transition: 0.4s;

               &:hover {
                  transform: translateY(-5px);
               }
            }
         }
      }

      .footer-nav-wrapper {
         width: 70%;
         @include flex(space-between, flex-start);
         gap: 15px;

         @include tablet {
            max-width: 780px;
            width: 100%;
         }

         @include mobileL {
            @include flex(flex-start, flex-start);
            column-gap: 60px;
            flex-wrap: wrap;
         }

         @include mobileP {
            flex-direction: column;
            row-gap: 30px;
         }

         h4 {
            margin-bottom: 32px;
         }

         li {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.2em;
            margin-bottom: 24px;
            transition: 0.2s;
            opacity: 0.7;

            &:hover {
               opacity: 1;
            }
         }

         .contact-me {
            a {
               @include flex(flex-start, center);
               gap: 12px;
            }
         }
      }
   }

   .footer-bottom {
      padding: 32px 0 40px;
      text-align: center;

      @include mobileP {
         padding: 28px 0 34px;
      }
   }
}
