@use "./scss/" as *;

// bir muddet
@font-face {
   font-family: satoshi;
   src: url(Satoshi-Variable.ttf);
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;
}

body {
   background-color: $body-bg;
   font-family: satoshi;
}

.container {
   max-width: 1250px;
   margin: 0 auto;
   padding: 0 25px;
}

.title {
   color: $dark-color;
   font-size: 42px;
   line-height: 1.38em;
   font-weight: 700;
}

.subtitle {
   color: $dark-color;
   font-size: 24px;
   font-weight: 700;
   line-height: 1.333em;
}

.paragraph {
   color: $gray-color;
   font-size: 18px;
   line-height: 1.777em;
   font-weight: 500;
}

a {
   text-decoration: none;
   color: unset;
}

button,
input {
   outline: 0;
}

ul {
   list-style-type: none;
}

img {
   max-width: 100%;
}

iframe {
   border: 0;
}