@use "./scss/" as *;

// bir muddet
@font-face {
   font-family: satoshi;
   src: url(Satoshi-Variable.ttf);
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;
}

body {
   background-color: $body-bg;
   font-family: satoshi;
}

.container {
   max-width: 1250px;
   margin: 0 auto;
   padding: 0 25px;
}

a {
   text-decoration: none;
   color: unset;
}

button,
input {
   outline: 0;
}

ul {
   list-style-type: none;
}

img {
   max-width: 100%;
}

iframe {
   border: 0;
}