@use "./scss/" as *;

// bir muddet
@font-face {
   font-family: satoshi;
   src: url(./fonts/Variable/Satoshi-Variable.ttf) format("truetype");
   src: url(./fonts/OTF/Satoshi-Black.otf) format("opentype");
   src: url(./fonts/OTF/Satoshi-Bold.otf) format("opentype");
   src: url(./fonts/OTF/Satoshi-Italic.otf) format("opentype");
   src: url(./fonts/OTF/Satoshi-Light.otf) format("opentype");
   src: url(./fonts/OTF/Satoshi-Medium.otf) format("opentype");
   src: url(./fonts/OTF/Satoshi-Regular.otf) format("opentype");
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;
}

body {
   background-color: $neutral-100;
   font-family: satoshi, sans-serif;
   overflow: auto;

}

// scrollbar
::-webkit-scrollbar {
   width: 10px;
}
::-webkit-scrollbar-track {
   background-color: transparent;
}
::-webkit-scrollbar-thumb {
   background-color: #b8c9e0;
   border-radius: 15px;
   border: 2px white solid;
}

.container {
   max-width: 1250px;
   margin: 0 auto;
   padding: 0 25px;

   @include mobileP {
      padding: 0 15px;
   }
}

.h1-size {
   font-size: 68px;
   font-weight: 700;
   line-height: 1.300;
   color: $neutral-800;

   @include tablet {
      font-size: 54px;
   }

   @include mobileL {
      font-size: 44px;
   }

   @include mobileP {
      font-size: 38px;
   }

}

.h2-size {
   font-size: 42px;
   font-weight: 700;
   line-height: 1.380;
   color: $neutral-800;

   @include mobileL {
      font-size: 35px;
   }

   @include mobileP {
      font-size: 29px;
   }
}

.h3-size {
   font-size: 24px;
   font-weight: 700;
   line-height: 1.333;
   color: $neutral-800;

   @include mobileL {
      font-size: 22px;
   }

   @include mobileP {
      font-size: 20px;
   }
}

.h4-size {
   font-size: 22px;
   font-weight: 700;
   line-height: 1.272;
   color: $neutral-800;

   @include mobileL {
      font-size: 20px;
   }

   @include mobileP {
      font-size: 18px;
   }
}

.h5-size {
   font-size: 18px;
   font-weight: 700;
   line-height: 1.333;
   color: $neutral-800;
}

.h6-size {
   font-size: 16px;
   font-weight: 700;
   line-height: 1.375;
   color: $neutral-800;
}

.paragraph {
   font-size: 18px;
   line-height: 1.777em;
   font-weight: 500;
   color: $neutral-600;
}

a {
   text-decoration: none;
   color: unset;
}

button,
input,
textarea {
   outline: 0;
}

ul {
   list-style-type: none;
}

img {
   max-width: 100%;
}

iframe {
   border: 0;
}