// (Secondary Colors)
$secondary-1: #EBF8FF;
$secondary-2: #FFF5D2;
$secondary-3: #FFEBF6;
$secondary-4: #F3EEFF;

// (Neutral Colors)
$neutral-800: #14142B;
$neutral-700: #4E4B66;
$neutral-600: #777990;
$neutral-500: #B2B4C4;
$neutral-400: #D9DBE9;
$neutral-300: #EFF0F6;
$neutral-200: #F6F7FF;
$neutral-100: #FFFFFF;


// breakpoints
$tablet-width: 991px;
$mobileL-width: 767px;
$mobileP-width: 479px;