@use "../../../../scss/" as *;

.item {
   padding: 48px 48px 48px 40px;
   @include flex(center, flex-start);
   border-radius: 20px;
   background-color: $body-bg;

   img {
      margin-right: 28px;
      border-radius: 20px;
   }

   h3 {
      margin-bottom: 12px;
   }
}