@use "../../scss/" as *;

.portfolio {
   padding: 100px 0 200px;

   @include tablet {
      padding: 55px 0 180px;
   }
   @include mobileL {
      padding: 48px 0 80px;
   }

   h1 {
      margin-bottom: 63px;
      text-align: center;

      @include tablet {
         margin-bottom: 56px;
      }
      @include mobileL {
         margin-bottom: 50px;
      }
      @include mobileP {
         margin-bottom: 44px;
      }
   }

   .items {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-column-gap: 50px;
      grid-row-gap: 98px;

      @include tablet {
         grid-column-gap: 10px;
         grid-row-gap: 82px;
      }
      @include mobileL {
         grid-template-columns: 1fr;
         grid-row-gap: 60px;
      }
   }
}
